extends layout

pageTitle = "Shackle Genealogy"
docType = 5
html(lang='en')

block content
  div.wrapper
    div.header
      p Welcome to #{title}!
    div.body
      img.logo(src = '/images/ShackleGenealogy_logo.png')
      div.carousel
        p This is a testimonial!
    div.footer
      div.menubar
      div.selection

